
<div class="card m-5" style="width:18rem;" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username: </strong>{{userDetails.UserName}}</li>
    <li class="list-group-item"><strong>First name: </strong>{{userDetails.FirstName}}</li>
    <li class="list-group-item"><strong>Last name: </strong>{{userDetails.LastName}}</li>
    <!--<li class="list-group-item"><strong>Email: </strong>{{userDetails.Email}}</li>-->
  </ul>
</div>
<!--<router-outlet></router-outlet>-->
