<div class="topcontainer pt-3">
  <div class="row">
    <div class="col-md-9">
      <h4>Calculations</h4>
    </div>
    <div class="col-md-3">
      <!--<a (click)="AddOrEditItem(null,0)" class="btn btn-outline-primary">
        <i class="fa fa-plus-square mr5"></i> Create New
      </a>-->

      <a class="btn btn-outline-primary float-right" (click)="AddOrEditItem(null,0)">
        <i class="fa fa-plus-square"></i>
        Add new
      </a>
    </div>
  </div>

</div>
<div class="containers mt-4">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <i class="fa fa-search"></i>
      </div>

      <mat-card-title>Search</mat-card-title>
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>

    <mat-card-content>
      <div class="searching mb-4">
        <div class="row">
          <div class="col-md-10">
            <div class="form-inline">
              <div class="form-group">
                <label class="mr-4" for="email">Employee Name: </label>
                <input class="form-control" type="text" name="search" [(ngModel)]="filter">
              </div>
            </div>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>


<div class="containers mt-4">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">

      </div>

      <!--<mat-card-title>Search</mat-card-title>-->
      <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>

    <mat-card-content>

      <table class="table table-hover">
        <thead class="thead-light">
          <!--<th>ID</th>-->
        <th ng-click="sort('Calculation Date')">
          Calculation Date
          <span class="glyphicon sort-icon" *ngIf="key =='Calculation Date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('Employee')">
          User
          <span class="glyphicon sort-icon" *ngIf="key =='Employee'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('Num1')">
          Number 1
          <span class="glyphicon sort-icon" *ngIf="key =='Num1'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('Num2')">
          Number 2
          <span class="glyphicon sort-icon" *ngIf="key =='Num2'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('Sum')">
          Sum
          <span class="glyphicon sort-icon" *ngIf="key =='Sum'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th class="text-right">Actions</th>
        </thead>

        <tbody>

          <tr *ngFor="let pd of service.list | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i= index;">
            <!--<th (click)="openForEdit(pd.Id)">{{pd.Id}}</th>-->
            <td (click)="populateForm(pd)">{{pd.CreatedDate}}</td>
            <td (click)="populateForm(pd)">{{pd.Name}}</td>
            <td (click)="populateForm(pd)">{{pd.Num1}}</td>
            <td (click)="populateForm(pd)">{{pd.Num2}}</td>
            <td (click)="populateForm(pd)">{{pd.Sum}}</td>

            <td class="text-right">
              <i (click)="AddOrEditItem(pd, i)" class="fa fa-edit fa-lg"></i> |
              <i (click)="onDelete(pd.Id)" class="fa fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>

      </table>
      
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </mat-card-content>

  </mat-card>
</div>
